@keyframes flipIconAnimation
  0%
    width 40px
    height 40px
  50%
    width 30px
    height 30px
  100%
    width 40px
    height 40px
/* for Iphone X only */
@keyframes flipIconAnimationX
  0%
    width 50px
    height 50px
  50%
    width 30px
    height 30px
  100%
    width 50px
    height 50px
@keyframes fadeInAnimation
  from
    opacity 0
  to
    opacity 1
@keyframes fadeInAnimationLast
  0%
    opacity 0
    transform scale(.9, 0.9)
  50%
    transform scale(1.1, 1.1)
  100%
    opacity 1
    transform scale(1, 1)
    
    
@keyframes fadeOutAnimation
  0%
    opacity 1
  99%
    opacity 1
  100%
    opacity 0

// @keyframes fadeInPulse
//   0%
//     opacity 0
//   60%
//     opacity 0.9
//     transform scale3d(1, 1, 1)
//   80%
//     opacity 1
//     transform scale3d(1.1, 1.1, 1.1)
//   100%
//     opacity 1
//     transform scale3d(1, 1, 1)
// @keyframes ballAnimation
//   0%
//     opacity 0
//     // transform rotate(0)
//     top -8%
//     left 11%
//   5%
//     opacity 1
//   25%
//     // transform rotate(270deg)
//     top 15%
//     left 23%
//   50%
//     // transform rotate(540deg)
//     top 32%
//     left 34%
//   75%
//     // transform rotate(810deg)
//     top 53%
//     left 54%
//   95%
//     opacity 1
//   100%
//     opacity 0
//     // transform rotate(1080deg)
//     top 73%
//     left 91%
@keyframes ballAnimation1
  0%
    opacity 0
    // transform rotate(0)
    top -22%
    left -1%
  10%
    opacity 1
  13%
    // transform rotate(270deg)
    top 5%
    left 13%
  25%
    // transform rotate(540deg)
    top 28%
    left 30%
  37%
    // transform rotate(810deg)
    top 47%
    left 52%
  50%
    opacity 1
    top 63%
    left 82%
  99%
    opacity 1
  100%
    opacity 0
    // transform rotate(1080deg)
    top 63%
    left 82%
@keyframes ballAnimation2
  0%
    opacity 0
    top -22%
    left -1%
  10%
    opacity 1
  65%
    opacity 1
    top 63%
    left 82%
  99%
    opacity 1
    top 63%
    left 82%
  100%
    opacity 0
    top 63%
    left 82%

@keyframes fadeAnimation
  0%
    opacity 0
  50%
    opacity 1
  100%
    opacity 0

@keyframes flipIntoLeft
  0%
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  10%
    opacity 1
  100%
    opacity 1
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

@keyframes flipIntoRight
  0%
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  10%
    opacity 1
  100%
    opacity 1
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);


@keyframes fadeInDown 
  from 
    opacity 0
    -webkit-transform translate3d(0, -10%, 0)
    transform translate3d(0, -10%, 0)
  

  to
    opacity 1
    -webkit-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)
  
@keyframes zoomIn 
  from 
    opacity 0
    -webkit-transform scale3d(0.3, 0.3, 0.3)
    transform scale3d(0.3, 0.3, 0.3)
  

  50% 
    opacity 1
  
  100%
    opacity 1
  
@keyframes slideInLeft
  from
    transform translate3d(-100%, 0, 0)
    visibility visible

  to
    transform: translate3d(0, 0, 0)
    visibility visible

@keyframes slideInRight
  from
    transform translate3d(100%, 0, 0)
    visibility visible

  to
    transform translate3d(0, 0, 0)
    visibility visible
@keyframes slideInUp
  from
    transform translate3d(0, 100%, 0)
    visibility visible

  to
    transform translate3d(0, 0, 0)
    visibility visible
@keyframes slideInDown
  from
    transform translate3d(0, -100%, 0)
    visibility visible
  to
    transform translate3d(0, 0, 0)
    visibility visible

  
