.bg-lily-white
  background $col-lily-white !important
.bg-black
  background $col-black !important
.bg-grey
  background $col-grey !important
.bg-ghost-blue
  background $col-ghost-blue !important
.bg-silver-grey
  background $col-silver-grey !important
.bg-geyser-grey
  background $col-geyser-grey !important