// color naming - https://www.beautycolorcode.com/
$col-athens-grey = #dcdddd
$col-lily-white = #ededed
$col-white = #ffffff
$col-delta = #969696
$col-black = #000000
$col-grey = #cecece
$col-red = #c21535
$col-ghost-blue = #CFCFD0
$col-silver-grey = #c2c2c2
$col-dark-grey = #747675
$col-geyser-grey = #cfcfd1