.l-w--70p
  width 70%
.l-w--80p
  width 80%
.l-w--100p
  width 100%
.l-mt-10
  margin-top 10px
.l-top
  position absolute
  top 50px
.l-center
  position absolute
  top 50%
  transform translateY(-50%)
.l-center-60
  position absolute
  top 50%
  transform translateY(-60%)
.l-bottom
  position absolute
  bottom 5px
