.fancybox
  &-skin
    background-color $col-white
.fancybox-close
  position fixed
  background url('../img/v2/ic-return-2.png')
  background-size cover
  width 100px
  height 34px
  top calc(100% - 44px)
  left 50%
  transform translateX(-50%) 