.flip-book
  background-color $col-white
  margin auto
  .page-wrapper
    -webkit-perspective 2000px
    -moz-perspective 2000px
    -ms-perspective 2000px
    -o-perspective 2000px
    perspective 2000px
  section
    height 100%
    a
      &:focus
        outline none
.flip-book
  .page
    background $col-lily-white
  .p2
  .p15
  .p19
  .p20
  .p30
  .p33
    background $col-black
  .p34
  .p35
  .p36
    background $col-grey
.isIphoneX
  section.p24
    top: 10px!important;

.flip-icon
  width 40px
  height 40px
  position absolute
  right 0
  bottom 0
  z-index 99
  background url(../img/icon-flip.jpg)
  background-size 100% 100%
  animation flipIconAnimation 2s ease-out infinite
.isIphoneX .flip-icon
  width 50px
  height 50px
  animation flipIconAnimationX 2s ease-out infinite
.flip-path
  position absolute
  background url(../img/s6-path.png)
  width 150px
  height 150px
  top 58%
  left 48%
  transform translate(-50%, -50%)
  background-size cover
.flip-ball
  // background url(../img/s6-ball-2.png)
  width 40px
  // height 20px
  // background-size 100% 100%
  position absolute
  // top -8%
  // left 11%
  // transform rotate(0)
  top -22%
  left -1%
.page-wrapper.active .flip-ball-anim-1
  opacity 0
  animation ballAnimation1 1.5s linear infinite
  animation-delay 0.6s
  -webkit-animation-delay 0.6s
.page-wrapper.active .flip-ball-anim-2
  opacity 0
  animation ballAnimation2 1.5s linear infinite
  animation-delay 0.6s
  -webkit-animation-delay 0.6s
  // animation-play-state paused
#p2 .flip-book-category-last-item
  width 181px
  top 14%
  left 4%
#p15 .flip-book-category-last-item
  width 140px
  top 14%
  left 55%
#p19 .flip-book-category-last-item
  width 121px
  top 41%
  left 33%
#p30 .flip-book-category-last-item
  width 129px
  top 69%
  left 9%
#p33 .flip-book-category-last-item
  width 128px
  top 70%
  left 57%

.page-wrapper.active .flip-book-category-anim-1
  opacity 0
  animation fadeIn 1s 1 ease-in forwards
  -webkit-animation fadeIn 1s 1 ease-in forwards
  animation-deplay .5s
  -webkit-animation-delay .5s
.page-wrapper.active .flip-book-category-anim-2
  opacity 0
  animation flipInX .5s ease-in forwards
  -webkit-animation fadeIn .5s ease-in forwards
  animation-delay 1s
  -webkit-animation-delay 1s
.page-wrapper.active .flip-book-category-anim-3
  opacity 0
  animation fadeIn .5s ease-in forwards
  -webkit-animation fadeIn .5s ease-in forwards
  animation-delay 1.5s
  -webkit-animation-delay 1.5s
.page-wrapper.active .flip-book-category-anim-4
  opacity 0
  animation fadeIn .5s ease-in forwards
  -webkit-animation fadeIn .5s ease-in forwards
  -webkit-animation-delay 2s
  animation-delay 2s
.page-wrapper.active .flip-book-category-anim-5
  opacity 0
  animation fadeIn .5s ease-in forwards
  -webkit-animation fadeIn .5s ease-in forwards
  -webkit-animation-delay 2.5s
  animation-delay 2.5s
.page-wrapper.active .flip-book-category-anim-6
  animation zoomIn .5s ease-in backwards
  -webkit-animation zoomIn .5s ease-in backwards
  animation-delay 3s
  -webkit-animation-delay 3s
.page-wrapper.active .flip-book-anim-24-2
  opacity 0
  -webkit-animation flipIntoLeft .6s 1 ease-in forwards
  animation flipIntoLeft .6s 1 ease-in forwards
  animation-deplay .6s
  -webkit-animation-delay .6s
.page-wrapper.active .flip-book-anim-24-5
  opacity 0
  -webkit-animation flipIntoRight .6s 1 ease-in forwards
  animation flipIntoRight .6s 1 ease-in forwards
  animation-deplay .6s
  -webkit-animation-delay .6s
.page-wrapper.active .flip-book-anim-24-1
  opacity 0
  -webkit-animation flipIntoLeft .6s 1 ease-in forwards
  animation flipIntoLeft .6s 1 ease-in forwards
  animation-deplay .9s
  -webkit-animation-delay .9s
.page-wrapper.active .flip-book-anim-24-4
  opacity 0
  -webkit-animation flipIntoRight .8s 1 ease-in forwards
  animation flipIntoRight .8s 1 ease-in forwards
  animation-deplay .9s
  -webkit-animation-delay .9s
.page-wrapper.active .flip-book-anim-24-3
  opacity 0
  -webkit-animation flipIntoRight .6s 1 ease-in forwards
  animation flipIntoRight .6s 1 ease-in forwards
  animation-deplay 1.2s
  -webkit-animation-delay 1.2s
// 
.page-wrapper.active .flip-s7-anim
  opacity 0
  -webkit-animation flipInX 1s ease forwards
  animation flipInX 1s ease forwards
  &--1
    animation-deplay .7s
    -webkit-animation-delay .7s
  &--2
    animation-deplay .9s
    -webkit-animation-delay .9s
  &--3
    animation-deplay 1.1s
    -webkit-animation-delay 1.1s
  &--4
    animation-deplay 1.3s
    -webkit-animation-delay 1.3s
  &--5
    animation-deplay 1.5s
    -webkit-animation-delay 1.5s
  &--6
    animation-deplay 1.7s
    -webkit-animation-delay 1.7s
  &--7
    animation-deplay 1.9s
    -webkit-animation-delay 1.9s
  &--8
    animation-deplay 2.1s
    -webkit-animation-delay 2.1s
  &--9
    animation-deplay 2.3s
    -webkit-animation-delay 2.3s
  &--10
    animation-deplay 2.5s
    -webkit-animation-delay 2.5s
  &--11
    animation-deplay 2.7s
    -webkit-animation-delay 2.7s
  &--12
    animation-deplay 2.9s
    -webkit-animation-delay 2.9s
  &--13
    animation-deplay 3.1s
    -webkit-animation-delay 3.1s
  &--14
    animation-deplay 3.3s
    -webkit-animation-delay 3.3s
  &--15
    animation-deplay 3.5s
    -webkit-animation-delay 3.5s

.page-wrapper.active
  .flip-s31-anim
    opacity 0
    -webkit-animation fadeIn .6s ease forwards
    animation fadeIn .6s ease forwards
    &--1
      animation-deplay .7s
      -webkit-animation-delay .7s
    &--3
      animation-deplay 1.3s
      -webkit-animation-delay 1.3s
    &--4
      animation-deplay 1.6s
      -webkit-animation-delay 1.6s
    &--6
      animation-deplay 2.1s
      -webkit-animation-delay 2.1s
    &--7
      animation-deplay 2.4s
      -webkit-animation-delay 2.4s
    &--9
      animation-deplay 3s
      -webkit-animation-delay 3s
    &--10
      animation-deplay 3.3s
      -webkit-animation-delay 3.4s
    &--12
      animation-deplay 3.9s
      -webkit-animation-delay 3.9s
    &--13
      animation-deplay 4.2s
      -webkit-animation-delay 4.2s
    &--15
      animation-deplay 4.6s
      -webkit-animation-delay 4.6s
  .flip-s31-anim1
    opacity 0
    -webkit-animation fadeInLeft .6s 1 ease forwards
    animation fadeInLeft .6s 1 ease forwards
    &--5
      animation-deplay 1.8s
      -webkit-animation-delay 1.8s
    &--11
      animation-deplay 3.6s
      -webkit-animation-delay 3.6s
  .flip-s31-anim2
    opacity 0
    -webkit-animation fadeInRight .6s 1 ease forwards
    animation fadeInRight .6s 1 ease forwards
    &--2
      animation-deplay 1s
      -webkit-animation-delay 1s
    &--8
      animation-deplay 2.7s
      -webkit-animation-delay 2.7s
    &--14
      animation-deplay 4.5s
      -webkit-animation-delay 4.5s
.page-wrapper.active .flip-s18-anim
  opacity 0
  -webkit-animation fadeInDown 1s ease forwards
  animation fadeInDown 1s ease forwards
  &--1
    animation-deplay .7s
    -webkit-animation-delay .7s
  &--2
    animation-deplay 1s
    -webkit-animation-delay 1s
  &--3
    animation-deplay 1.3s
    -webkit-animation-delay 1.3s
  &--4
    animation-deplay 1.6s
    -webkit-animation-delay 1.6s
  &--5
    animation-deplay 1.8s
    -webkit-animation-delay 1.8s
  