.flip-book
  background-color $col-white
  margin auto
  .page-wrapper
    -webkit-perspective 2000px
    -moz-perspective 2000px
    -ms-perspective 2000px
    -o-perspective 2000px
    perspective 2000px
  section
    height 100%
    img

.flip-icon
  width 40px
  height 40px
  position absolute
  right 0
  bottom 0
  z-index 99
  background url(../img/icon-flip.jpg)
  background-size 100% 100%
  animation flipIconAnimation 1.5s infinite
#p2 .flip-book-category-last-item
  width 181px
  top 13%
  left 4%
#p15 .flip-book-category-last-item
  width 140px
  top 14%
  left 55%
#p19 .flip-book-category-last-item
  width 121px
  top 37%
  left 33%
#p30 .flip-book-category-last-item
  width 129px
  top 62%
  left 9%
#p33 .flip-book-category-last-item
  width 128px
  top 63%
  left 57%
.page-wrapper.active .flip-cover
  position absolute
  width 100%
  height 100%
  top 0
  left 0
  z-index 1
  opacity 1
  animation fadeOutAnimation .2s forwards

.page-wrapper.active .flip-book-category-anim-1
  opacity 0
  animation fadeInAnimation 1s 1 ease-in forwards
  -webkit-animation fadeInAnimation 1s 1 ease-in forwards
  animation-deplay .5s
  -webkit-animation-delay .5s
.page-wrapper.active .flip-book-category-anim-2
  opacity 0
  animation fadeInAnimation .5s ease-in forwards
  -webkit-animation fadeInAnimation .5s ease-in forwards
  animation-delay 1.5s
  -webkit-animation-delay 1.5s
.page-wrapper.active .flip-book-category-anim-3
  opacity 0
  animation fadeInAnimation .5s ease-in forwards
  -webkit-animation fadeInAnimation .5s ease-in forwards
  animation-delay 2s
  -webkit-animation-delay 2s
.page-wrapper.active .flip-book-category-anim-4
  opacity 0
  animation fadeInAnimation .5s ease-in forwards
  -webkit-animation fadeInAnimation .5s ease-in forwards
  -webkit-animation-delay 2.5s
  animation-delay 2.5s
.page-wrapper.active .flip-book-category-anim-5
  opacity 0
  animation fadeInAnimation .5s ease-in forwards
  -webkit-animation fadeInAnimation .5s ease-in forwards
  -webkit-animation-delay 3s
  animation-delay 3s
.page-wrapper.active .flip-book-category-anim-6
  opacity 0
  animation fadeInAnimationLast .5s ease-in forwards
  -webkit-animation fadeInAnimationLast .5s ease-in forwards
  animation-delay 3.5s
  -webkit-animation-delay 3.5s