.c-v2
  &-s5
    &-1
    &-2
    &-3
    &-4
      left 10%
    &-1
      top 17%
    &-2
      top 27%
    &-3
      top 37%
    &-4
      top 50%

  &-s6
  &-s7
  &-s8
  &-s40
  &-s42
  &-s44
    width 80%
    left 10%
  &-s6
  &-s7
  &-s8
    top 50%
  &-s40
  &-s42
  &-s44
    top 60%
  &-s20
    width 76%
    left 12%
    top 20%
  &-s9
    left 10%
    top 51%

  &-s16
    position relative
    top 30px
    &-1
    &-2
    &-3
      top 0
    &-1
      left 11%
      width 25%
    &-2
      left 38%
      width 25%
    &-3
      left 65%
      width 25%
  &-s22
    position relative
    top 30px
    &-1
    &-2
    &-3
      top 0
    &-1
      left 11%
      width 25%
    &-2
      left 38%
      width 25%
    &-3
      left 65%
      width 25%
  &-s29
    width 30%
    left 35%
    top 87%
  &-s33
    width 30%
    left 35%
    bottom -10%
  &-s38
    &-0
      // top 35%
      top 50px
    &-1
      top 50px
    &-2
      // top 21%
      top 50px
    &-3
      // top 50%
      top 50px
    &-4
      // top 64%
      top 50px
    &-5
      // top 78%
      top 50px
  &-s50
    &-1
    &-2
    &-3
    &-4
      width 80%
      left 10%
    &-1
      bottom 30%
    &-2
      bottom 0
    &-3
      bottom 41%
    &-4
      bottom 0
    &-5
    &-6
      width 20%
      top 22%
    &-6
      right 0
      left auto
    &-top
      margin-top 30px
    &-middle
      margin-top 20px
    &-bottom
      margin auto
  &-s51
    top 24%
    width 82%
    left 9%
    a
      display none
      &.c-v2-s51-1
      &.c-v2-s51-2
      &.c-v2-s51-3
        display block
  &-return-btn
    background url('../img/v2/ic-return-2.png')
    background-size cover
    width 100px
    height 34px
    position absolute
    bottom 10px
    left 50%
    transform translateX(-50%)
  &-tab
    position absolute
    bottom 10%
    display flex
    justify-content center
    width 100%
    li
      width 40px
      height 40px
      background $col-dark-grey
      color white
      font-size 12px
      text-align center
      line-height 40px
      margin 0 5px 0
      cursor pointer
      &.active
        color black

.isIphoneX
  .c-v2-tab
    bottom 18%
  // &-return-btn
  //   background url('../img/v2/ic-return.png')
  //   background-size cover
  //   width 100px
  //   height 50px
  //   position absolute
  //   bottom 0
  //   left 50%
  //   transform translateX(-50%)
