.bw-video
  width 25px
  animation fadeAnimation 3s infinite ease-in forwards
  &__btn--1
    top 72%
    left 18%
  &__btn--2
    top 72%
    left 46%
  &__btn--3
    top 72%
    left 74%
  &__btn--4
    top 77%
    left 18%
  &__btn--5
    top 77%
    left 48%
  &__btn--6
    top 77%
    left 77%
