.bw-video
  width 7%
  animation fadeAnimation 3s infinite ease-in forwards
  -webkit-animation fadeAnimation 3s infinite ease-in forwards
  &__btn--1
    top 50%
    left 19%
  &__btn--2
    top 50%
    left 47%
  &__btn--3
    top 50%
    left 75%
  &__btn--4
    top 40%
    left 18%
  &__btn--5
    top 40%
    left 48%
  &__btn--6
    top 40%
    left 77%
.video-note
  bottom 10%
  left 12%
  font-size 10px
  color black
  // text-shadow 1px 1px 1px black
#p23
  .video-note
    bottom 22%
    left 7%
