.bw-video
  width 7%
  animation fadeAnimation 3s infinite ease-in forwards
  -webkit-animation fadeAnimation 3s infinite ease-in forwards
  &__btn--1
    top 12%
    left 19%
  &__btn--2
    top 12%
    left 47%
  &__btn--3
    top 12%
    left 75%
  &__btn--4
    top 10%
    left 18%
  &__btn--5
    top 10%
    left 48%
  &__btn--6
    top 10%
    left 77%
