mixin header()
  header.c-header
    .c-header__logo
      a.js-go-page1(href="javascript:void(0);")
        img(src=paths.img + "header-logo.png")
      //- .c-header__border
    .c-header__menu.js-menu
      ul
        each item, index in headerMenu
          li
            a.js-menu--top-menu--item(href="javascript:void(0);")!=item.txt
            ul.c-header__menu__submenu.js-submenu
              each subitem in item.submenu
                li.
                  <a href="javascript:void(0);", data-url="#{subitem.link}" class="js-submenu--item">#{subitem.txt}</a>
      //- .c-header__border
