mixin header()
  header.c-header
    .c-header__logo
      img(src=paths.img + "header-logo.png")
      .c-header__border
    .c-header__menu
      ul
        each item, index in headerMenu
          if(index < headerMenu.length - 1)
            - console.log(index)
            li.
              <a href="javascript:void(0);" data-url="#{index+1}">#{item.txt}</a><span>ï¼</span>
          else
            li
              a(href="javascript:void(0);" data-url="3")!= item.txt
      .c-header__border