@-moz-keyframes flipIconAnimation {
  0% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
@-webkit-keyframes flipIconAnimation {
  0% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
@-o-keyframes flipIconAnimation {
  0% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
@keyframes flipIconAnimation {
  0% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
@-moz-keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeInAnimationLast {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@-webkit-keyframes fadeInAnimationLast {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@-o-keyframes fadeInAnimationLast {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes fadeInAnimationLast {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@-moz-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes ballAnimation {
  0% {
    opacity: 0;
    transform: rotate(0);
    top: -8%;
    left: 11%;
  }
  5% {
    opacity: 1;
  }
  25% {
    transform: rotate(270deg);
    top: 15%;
    left: 23%;
  }
  50% {
    transform: rotate(540deg);
    top: 32%;
    left: 34%;
  }
  75% {
    transform: rotate(810deg);
    top: 53%;
    left: 54%;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(1080deg);
    top: 73%;
    left: 91%;
  }
}
@-webkit-keyframes ballAnimation {
  0% {
    opacity: 0;
    transform: rotate(0);
    top: -8%;
    left: 11%;
  }
  5% {
    opacity: 1;
  }
  25% {
    transform: rotate(270deg);
    top: 15%;
    left: 23%;
  }
  50% {
    transform: rotate(540deg);
    top: 32%;
    left: 34%;
  }
  75% {
    transform: rotate(810deg);
    top: 53%;
    left: 54%;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(1080deg);
    top: 73%;
    left: 91%;
  }
}
@-o-keyframes ballAnimation {
  0% {
    opacity: 0;
    transform: rotate(0);
    top: -8%;
    left: 11%;
  }
  5% {
    opacity: 1;
  }
  25% {
    transform: rotate(270deg);
    top: 15%;
    left: 23%;
  }
  50% {
    transform: rotate(540deg);
    top: 32%;
    left: 34%;
  }
  75% {
    transform: rotate(810deg);
    top: 53%;
    left: 54%;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(1080deg);
    top: 73%;
    left: 91%;
  }
}
@keyframes ballAnimation {
  0% {
    opacity: 0;
    transform: rotate(0);
    top: -8%;
    left: 11%;
  }
  5% {
    opacity: 1;
  }
  25% {
    transform: rotate(270deg);
    top: 15%;
    left: 23%;
  }
  50% {
    transform: rotate(540deg);
    top: 32%;
    left: 34%;
  }
  75% {
    transform: rotate(810deg);
    top: 53%;
    left: 54%;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(1080deg);
    top: 73%;
    left: 91%;
  }
}
@-moz-keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes flipIntoLeft {
  from {
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@-webkit-keyframes flipIntoLeft {
  from {
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@-o-keyframes flipIntoLeft {
  from {
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes flipIntoLeft {
  from {
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@-moz-keyframes flipIntoRight {
  from {
    left: 100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@-webkit-keyframes flipIntoRight {
  from {
    left: 100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@-o-keyframes flipIntoRight {
  from {
    left: 100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes flipIntoRight {
  from {
    left: 100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
.bg-lily-white {
  background: #ededed;
}
.bg-black {
  background: #000;
}
.bg-grey {
  background: #cecece;
}
html,
body,
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
h1 {
  color: #800080;
}
ul,
li {
  list-style-type: none;
}
.pos-abs {
  position: absolute;
  left: 0;
  right: 0;
}
.pos-rel {
  position: relative;
}
.l-w--100p {
  width: 100%;
}
.l-mt-10 {
  margin-top: 10px;
}
.flip-book {
  background-color: #fff;
  margin: auto;
}
.flip-book .page-wrapper {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
}
.flip-book section {
  height: 100%;
img
}
.flip-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: url("../img/icon-flip.jpg");
  background-size: 100% 100%;
  animation: flipIconAnimation 2s ease-out infinite;
}
.flip-path {
  position: absolute;
  background: url("../img/s6-path.png");
  width: 150px;
  height: 150px;
  top: 58%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-size: cover;
}
.flip-ball {
  background: url("../img/s6-ball.png");
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  position: absolute;
  top: -8%;
  left: 11%;
  transform: rotate(0);
}
.page-wrapper.active .flip-ball-anim {
  opacity: 0;
  animation: ballAnimation 1.5s linear infinite;
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#p2 .flip-book-category-last-item {
  width: 181px;
  top: 12.5%;
  left: 4%;
}
#p15 .flip-book-category-last-item {
  width: 140px;
  top: 14%;
  left: 55%;
}
#p19 .flip-book-category-last-item {
  width: 121px;
  top: 37%;
  left: 33%;
}
#p30 .flip-book-category-last-item {
  width: 129px;
  top: 62%;
  left: 9%;
}
#p33 .flip-book-category-last-item {
  width: 128px;
  top: 63%;
  left: 57%;
}
.page-wrapper.active .flip-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  animation: fadeOutAnimation 0.2s forwards;
}
.page-wrapper.active .flip-book-category-anim-1 {
  opacity: 0;
  animation: fadeInAnimation 1s 1 ease-in forwards;
  -webkit-animation: fadeInAnimation 1s 1 ease-in forwards;
  animation-deplay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.page-wrapper.active .flip-book-category-anim-2 {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in forwards;
  -webkit-animation: fadeInAnimation 0.5s ease-in forwards;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.page-wrapper.active .flip-book-category-anim-3 {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in forwards;
  -webkit-animation: fadeInAnimation 0.5s ease-in forwards;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.page-wrapper.active .flip-book-category-anim-4 {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in forwards;
  -webkit-animation: fadeInAnimation 0.5s ease-in forwards;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.page-wrapper.active .flip-book-category-anim-5 {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in forwards;
  -webkit-animation: fadeInAnimation 0.5s ease-in forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.page-wrapper.active .flip-book-category-anim-6 {
  opacity: 0;
  animation: fadeInAnimationLast 0.5s ease-in forwards;
  -webkit-animation: fadeInAnimationLast 0.5s ease-in forwards;
  animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
}
.page-wrapper.active .flip-book-anim-24-top {
  opacity: 0;
  -webkit-animation: flipIntoLeft 2s 1 ease-in forwards;
  animation: flipIntoLeft 2s 1 ease-in forwards;
  animation-deplay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.page-wrapper.active .flip-book-anim-24-bottom {
  opacity: 0;
  -webkit-animation: flipIntoRight 2s 1 ease-in forwards;
  animation: flipIntoRight 2s 1 ease-in forwards;
  animation-deplay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.c-header {
  position: absolute;
  height: 60px;
  width: 100%;
  z-index: 1000;
}
.c-header__border {
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.c-header__logo {
  position: relative;
  background: #000;
  height: 100%;
  padding: 10px 0 10px 40px;
}
.c-header__logo img {
  height: calc(100% - 10px);
}
.c-header__logo .c-header__border {
  background: #dcdddd;
}
.c-header__menu {
  position: absolute;
  padding: 20px;
  background: #dcdddd;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
}
.c-header__menu:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 60px solid #000;
  border-right: 32px solid transparent;
}
.c-header__menu .c-header__border {
  background: #000;
}
.c-header__menu .c-header__border:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 8px solid #dcdddd;
  border-right: 4px solid transparent;
}
.c-header__menu ul {
  display: flex;
  padding-left: 20px;
  position: absolute;
  top: calc(50% - 7px);
  transform: translateY(-50%);
}
.c-header__menu ul li {
  list-style-type: none;
  color: #969696;
}
.c-header__menu ul li a {
  color: #969696;
  font-size: 0.6rem;
}
.c-header__menu ul li span {
  vertical-align: middle;
}
.c-header__menu ul li.active a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.bw-video {
  width: 7%;
  animation: fadeAnimation 3s infinite ease-in forwards;
}
.bw-video__btn--1 {
  top: 12%;
  left: 19%;
}
.bw-video__btn--2 {
  top: 12%;
  left: 47%;
}
.bw-video__btn--3 {
  top: 12%;
  left: 75%;
}
.bw-video__btn--4 {
  top: 10%;
  left: 18%;
}
.bw-video__btn--5 {
  top: 10%;
  left: 48%;
}
.bw-video__btn--6 {
  top: 10%;
  left: 77%;
}
