.bg-lily-white {
  background: #e9eeeb;
}
html,
body,
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
h1 {
  color: #800080;
}
ul,
li {
  list-style-type: none;
}
section {
  height: 100%;
}
.pos-abs {
  position: absolute;
  left: 0;
  right: 0;
}
.l-w--100p {
  width: 100%;
}
.flip-book {
  background-color: #fff;
}
.flip-book .page-wrapper {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
}
.c-header {
  position: absolute;
  height: 60px;
  width: 100%;
  z-index: 1000;
}
.c-header__border {
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.c-header__logo {
  position: relative;
  background: #000;
  height: 100%;
  padding: 10px 0 10px 40px;
}
.c-header__logo img {
  height: calc(100% - 10px);
}
.c-header__logo .c-header__border {
  background: #dcdddd;
}
.c-header__menu {
  position: absolute;
  padding: 20px;
  background: #dcdddd;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
}
.c-header__menu:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 60px solid #000;
  border-right: 32px solid transparent;
}
.c-header__menu .c-header__border {
  background: #000;
}
.c-header__menu .c-header__border:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 8px solid #dcdddd;
  border-right: 4px solid transparent;
}
.c-header__menu ul {
  display: flex;
  padding-left: 20px;
  position: absolute;
  top: calc(50% - 7px);
  transform: translateY(-50%);
}
.c-header__menu ul li {
  list-style-type: none;
}
.c-header__menu ul li a {
  color: #000;
  font-size: 0.6rem;
}
