include ../mixins/_helper
include ../mixins/_header
include _config
head
  title=app.name
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  link(rel='stylesheet', href=paths.css + 'vendor/bootstrap.css')
  link(rel='stylesheet', href=paths.css + 'app.css')
