
doctype html
html
  include _head
  div(style="margin:0 auto;width:0px;height:0px;overflow:hidden;")
    img(src=paths.img + 'bw_logo.jpg')
  body
    block content

  include _foot
    //- script.
    //-   weixin_jssdk_ops.init()